<div class="banner banner--little" style="background-image:linear-gradient(-225deg, rgba(20,20,20,0.6) 0%, rgba(20,20,20,0.6) 50%), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');">
  <div class="banner-content">
    <h1><%= @cocktail.name %> </h1>
  </div>
</div>



<div class="ingredients">
  <ol>
  <% @cocktail.doses.each do |dose|%>
    <li>
      <%= dose.description%> of <%= dose.ingredient.name %>   <%= link_to cocktail_dose_path(@cocktail, dose), method: 'delete' do   %>
            <i class="far fa-trash-alt"></i>
        <% end %>
    </li>
  <% end %>
  </ol>
  <% url = "/cocktails/#{@cocktail.id}/doses/new" %>
  <a href=<%= url %> class:"btn-primary">Add an ingredient</a>
</div>
